  <!-- TODO : get user info from  database and display it here perhaps stored in session object -->
<div class="card p-5">
    <img alt="Profile Picture" class="card-img-top rounded-circle img-fluid" style="margin: auto;max-height: 400px;max-width: 400px;" src="https://ui-avatars.com/api/?name=<%= firstName %>+<%= lastName %>&format=svg">
    <div class="card-body">
        <h5 class="card-title"><%= firstName %> <%= lastName %></h5>
        <p class="card-text"><%= email %></p>
        <p class="card-text"><%= bio %></p>
    </div>
</div>