<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> <!-- Include the contents of head file -->
</head>
    <body class="d-flex flex-column vh-100">
<%- include('./partials/nav') %> <!-- Include the navbar -->
<!-- specific page info-->
    <div class="text-center">
        <h1>About Us</h1>
        <p>Meet the Team</p>
    </div>
    <div class="container-fluid text-center">
        <div class="row justify-content-center p-3">
            <% teamInfo.forEach(member => { %>
                <div class="col-lg-2 col-md-3 col-sm-6 mb-4">
                    <a href="/about/<%= member.id %>">
                    <div id="<%= member.id %>" class="card h-100 shadow"> <!-- Add h-100 class to make cards the same height -->
                        <img src="/img/<%= member.id %><%=member.type %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 id="name" class="card-title fs-4"><%= member.name %></h5>
                            <p class="card-text fs-6 "><%= member.role %></p>
                        </div>
                    </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
<%- include('./partials/footer') %> <!-- Include the footer -->
</body>
</html>