<!--
  User Dashboard Page - Gator Garage Web Application

  This EJS template provides a detailed user dashboard on Gator Garage. It includes sections for displaying user information, messages, and posts, implemented through styled cards and tabs. Key elements like navigation and footer are maintained using partial templates for consistency.
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %> <!-- Include the contents of head file -->
    <style>
      .user-profile {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .tab-content {
        height: 80vh;
        /* your desired height of the tab-content */
        overflow: hidden;
        overflow-y: auto;
      }

       /*Styling for tabs*/

.nav-tabs .nav-link {
    border: 1px solid rgb(53, 121, 246);
}
      .nav-tabs .nav-link.active {
        background-color: rgb(75, 160, 181) !important; /* Set the desired color for the active tab */
        color: white !important;
        text-shadow:  darkslateblue 1px 1px 1px;
}
    </style>
</head>

<body>
  <%- include('./partials/nav') %> <!-- Include the navbar -->

    <div id="page-content" class="container-fluid text-center align-items-center mt-5" style="min-height: 100vh;">

    <h1 class="display-4 text-start mt-5 mb-5 ml-5">Welcome <%= firstName %></h1> 

      <div class="row">
        <div class="col-md-4">
          <%- include('./dash-partials/userprofile.ejs') %>
        </div>
        <div class="container col-md-8 border">
          <br>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" data-bs-toggle="tab" href="#inbox-tab" aria-selected="true"
                role="tab">Inbox</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#posts-tab" aria-selected="false" role="tab"
                tabindex="-1">Posts</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#create-post-tab" aria-selected="false" role="tab"
                tabindex="-1">Create Post</a>
            </li>
          </ul>
          <div class="tab-content">
            <%- include('./dash-partials/tab-inbox', {messages}) %>     <!-- include tab-inbox.ejs  -->
            <%- include('./dash-partials/tab-posts', {posts}) %>     <!-- include tab-posts.ejs  -->
            <%- include('./dash-partials/tab-createpost') %>    <!-- include tab-create-post.ejs  -->
          </div>
        </div>
      </div>
    </div>
    
    <%- include('./partials/footer') %> <!-- Include the footer -->
</body>

</html>