<!--
  Homepage - Gator Garage Web Application

  This EJS template serves as the homepage for Gator Garage, featuring a welcoming message, a sign-up form, and a dynamic carousel of categories. It integrates partials for consistent navigation and footer elements across the site, enhancing user navigation and site-wide consistency.
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %> <!-- Include the contents of head file -->
    </head>
    <body>
        <%- include('./partials/nav') %> <!-- Include the navbar -->

        <!--homepage info row-->
        <!--one row, two columns-->
        <!--1st column has two rows: info, signup form-->
        <!--2nd column has one row: sfsu map image-->
        <div class="container mt-5">
            <div class="row">
                <!-- 1st Column -->
                <div class="col-md-6 d-flex flex-column">
                    <div class="row mb-3 flex-grow-1">
                        <h1 class="fs-2 p-3">Welcome to Gator Garage</h1>
                        <p class="lead">
                            Your ultimate destination
                            for seamless trade and services
                            within the SFSU community!
                        </p>
                    </div>
                    <div class="row p-3">
                        <form action="/signup" method="post" class="w-100">
                            <div class="form-row">
                                <div class="col-8">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                           required>
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- 2nd Column -->
                <div class="col-md-6 p-3">
                    <img src="../img/homepage-sfsu-map.png" class="img-fluid" alt="SFSU Map">
                    <p class="text-center fst-italic my-3" style="font-size: 0.9rem;">For Safe Exchanges, Choose from Our Secure SFSU Locations</p>
                </div>
            </div>
        </div>
        <!--END homepage info row-->


        <!-- Category display: carousel with 3 items per slide -->
        <div id="categoryDisplay" class="container mt-5 p-4 bg-light-subtle rounded">
            <h2 class="text-center display-6">Categories</h2>


            <div id="categoryCarousel" class="carousel carousel-fade carousel-dark pt-3 pb-5"
                 data-bs-ride="carousel" data-bs-interval="7500">

                <ol class="carousel-indicators">
                    <% let totalSlides = Math.ceil(categories.length / 3); %>
                    <% for(let i = 0; i < totalSlides; i++) { %>
                        <li data-bs-target="#categoryCarousel" data-bs-slide-to="<%= i %>"
                            class="<%= i === 0 ? 'active' : '' %>"></li>
                    <% } %>
                </ol>

                <div class="carousel-inner">
                    <% categories.forEach((category, index) => { %>
                        <% if(index % 3 === 0){ %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                            <div class="d-flex justify-content-center">
                                <% } %>
                                <div class="p-2 flex-fill text-center">
                                    <a class="text-black"
                                       href="/search?query=&category=<%= encodeURIComponent(category.categoryName) %>">
                                        <img src="<%= category.categoryPicture %>"
                                             alt="<%= category.categoryName %>"
                                             style="width:100%; max-width:500rem; height:auto;">
                                        <p class="lead "><%= category.categoryName %></p>
                                    </a>
                                </div>
                                <% if(index % 3 === 2 || index === categories.length - 1){ %>
                            </div>
                        </div>
                        <% } %>
                    <% }); %>
                </div>


                <button class="carousel-control-prev carousel" type="button" data-bs-target="#categoryCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next carousel" type="button" data-bs-target="#categoryCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                
            </div>
        </div>
        <!-- END category display row -->


        <%- include('./partials/footer') %> <!-- Include the footer -->
    </body>
</html>


