<!--
    Title: GatorGarage - SFSU's Community Platform to Buy and Sell.
    Description: This HTML document is the home page of GatorGarage, SFSU's community platform to buy and sell items.

    External files:
        - Partials
            - head: Contains meta tags, CSS/JS links common across the website
            - nav: Navigation bar across the site
            - footer: Footer section common across the site
            - message: Modal for user messages across the site.

    Frameworks and Libraries used:
        - Bootstrap: For styling and responsive layouts
        - EJS: For dynamic content generation and inclusion of partials

    Additional Scripts:
        - setupMessageModal.js: Manages behavior and settings for message modals.

    Maintainer: Cesar A. Herrera
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> <!-- Include the contents of head file -->
    <title>GatorGarage - SFSU's Community Platform to Buy and Sell</title>
</head>

<body>
<%- include('./partials/nav') %>


<!-- Executive Summary -->
<section id="exec-summary" class="container">
    <!-- Main banner with text and title -->
    <div class="row justify-content-center pt-3">
        <div class="col-12">
            <h1 class="text-center display-5">Gator Garage</h1>
        </div>
    </div>

    <!-- Details and welcoming message-->
    <div class="row justify-content-center pt-2">
        <div class="col-8 d-flex align-items-center justify-content-center">
            <p class="fs-5 text-sm-small text-center">
                Designed exclusively for SFSU students, staff, and alumni, this platform enables you to buy and sell
                goods, creating a vibrant marketplace tailored to enhance your campus life.
        </div>
    </div>
</section>
<!-- END Executive Summary -->


<!-- Category Display: carousel with 3 items per slide -->
<section id="categoryDisplay" class="container pt-2">
    <h2 class="fs-5 text-sm-small"><strong>Categories</strong></h2>

    <div
            id="categoryCarousel" class="carousel carousel-fade carousel-dark"
            data-bs-ride="carousel" data-bs-interval="7500">

        <!-- Carousel Indicators (tabs located underneath the carousel) -->
        <ol class="carousel-indicators" style="bottom: -20px">
            <% let totalSlides = Math.ceil(categories.length / 3); %>
            <% for(let i = 0; i < totalSlides; i++) { %>
                <li
                        data-bs-target="#categoryCarousel" data-bs-slide-to="<%= i %>"
                        class="<%= i === 0 ? 'active' : '' %>"></li>
            <% } %>
        </ol>

        <!-- Carousel Generator: 3 categories per slide  -->
        <div class="carousel-inner">
            <% categories.forEach((category, index) => { %>
                <% if(index % 3 === 0){ %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                    <div class="d-flex justify-content-center">
                        <% } %>
                        <div class="p-2 flex-fill text-center">
                            <a
                                    class="text-black"
                                    href="/search?query=&category=<%= encodeURIComponent(category.categoryName) %>">
                                <img
                                        src="<%= category.categoryPicture %>"
                                        alt="<%= category.categoryName %>"
                                        class="rounded-3 h-auto w-100"
                                        style="max-width:500rem;">
                                <p class="lead "><%= category.categoryName %></p>
                            </a>
                        </div>
                        <% if(index % 3 === 2 || index === categories.length - 1){ %>
                    </div>
                </div>
                <% } %>
            <% }); %>
        </div>

        <!-- Carousel Control Buttons -->
        <button
                class="carousel-control-prev carousel" type="button" data-bs-target="#categoryCarousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button
                class="carousel-control-next carousel" type="button" data-bs-target="#categoryCarousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <!-- END Carousel Control Buttons -->

    </div>
</section>
<!-- END Category Display-->


<!-- Recent Items Posting Section -->
<section id="recentItemDisplay" class="container pt-2 card-hover">
    <h2 class="fs-5 text-sm-small"><strong>Recent Posts</strong></h2>

    <% function truncateString(str, num) {
        return str.length > num ? str.slice(0, num > 3 ? num - 3 : num) + '...' : str;
    } %>

    <div
            id="recentItemCarousel" class="carousel carousel-fade carousel-dark"
            data-bs-ride="carousel" data-bs-interval="7500">

        <!-- Carousel Indicators (tabs located underneath the carousel) -->
        <ol class="carousel-indicators" style="bottom:-30px;">
            <% let totalSlides2 = Math.ceil(recentPosts.length / 3); %>
            <% for(let i = 0; i < totalSlides2; i++) { %>
                <li
                        data-bs-target="#recentItemCarousel" data-bs-slide-to="<%= i %>"
                        class="<%= i === 0 ? 'active' : '' %>"></li>
            <% } %>
        </ol>

        <!-- Carousel Generator: 3 categories per slide  -->
        <div class="carousel-inner">
            <% recentPosts.forEach((recentPost, index) => { %>
                <% if(index % 3 === 0){ %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                    <div class="d-flex justify-content-center">
                        <% } %>
                        <div class="p-2 flex-fill text-center h-100 m-auto clickable-card"
                             style="cursor: pointer;" data-post-id="<%= recentPost.postId %>">
                            <img
                                    src="<%= recentPost.itemThumbnail %>"
                                    alt="<%= recentPost.itemName %>"
                                    class="rounded-3 w-100 h-auto">
                            <p class="lead text-truncate"><%= truncateString(recentPost.itemName, 20) %></p>
                            <p class="text-truncate"><strong>$<%= recentPost.itemPrice %></strong></p>
                        </div>
                        <% if(index % 3 === 2 || index === recentPosts.length - 1){ %>
                    </div>
                </div>
                <% } %>
            <% }); %>
        </div>

        <!-- Carousel Control Buttons -->
        <button
                class="carousel-control-prev carousel" type="button" data-bs-target="#recentItemCarousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button
                class="carousel-control-next carousel" type="button" data-bs-target="#recentItemCarousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <!-- END Carousel Control Buttons -->

    </div>
</section>


    <%- include('./partials/message') %> <!-- Include the message modal -->
    <%- include('./partials/footer') %> <!-- Include the footer -->

    <script src="../js/setupMessageModal.js"></script>

</body>

</html>
