<!--
  Team Member Information Page - Gator Garage Web Application

  This HTML document, utilizing EJS templates, displays detailed information about individual team members. The page is structured to visually represent each team member's profile using cards, containing an image, role, and biographical information.

  Features:
  - Dynamic rendering of team member profiles using data passed from the server.
  - Embedded CSS with specific configurations for image presentation within the cards.
  - Use of partial templates for navigation and footer to maintain consistent page layout.

  Main components include a navigation bar, detailed team member information cards, and a footer, all enhanced with embedded styling and JavaScript for interactivity.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Meet the Gator Garage Team</title>
    <style>
        .card-body img {
            width: 150px; /* Adjust as needed */
            height: 150px; /* Adjust as needed */
            object-fit: cover; /* This will ensure that the image covers the entire area of the img element without distorting the aspect ratio */
        }
    </style>
</head>
    <body>
    <%- include('./partials/nav') %>

    <div id="page-content" style="min-height: 100vh;" class="container-fluid text-center align-items-start border-dark d-flex">
        <div class="container">
            <h1 class="p-3 display-5 my-5">Team Member Information</h1>
            <div class="card m-5">
                <div class="card-header">
                    <h5 class="card-title"><%= data.name %></h5>
                </div>
                <div class="card-body">
                    <img src="/img/<%= data.id %><%= data.type %>" class="img-fluid rounded-circle" style="max-width: 500px;" alt="Profile Picture">
                    <p class="card-text">Role: <%= data.role %></p>
                    <p class="card-text"><%=data.bio %></p>
                </div>
                <div class="card-footer">
                    <a href="/about" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>