<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <style>
        .card-body img {
            width: 150px; /* Adjust as needed */
            height: 150px; /* Adjust as needed */
            object-fit: cover; /* This will ensure that the image covers the entire area of the img element without distorting the aspect ratio */
        }
    </style>
</head>
    <body>
    <%- include('./partials/nav') %>

    <div id="page-content" style="min-height: 100vh;" class="container-fluid text-center align-items-start border-dark d-flex">
        <div class="container">
            <h1 class="p-3 display-5 my-5">Team Member Information</h1>
            <div class="card m-5">
                <div class="card-header">
                    <h5 class="card-title"><%= data.name %></h5>
                </div>
                <div class="card-body">
                    <img src="/img/<%= data.id %><%= data.type %>" class="img-fluid rounded-circle" style="max-width: 500px;" alt="Profile Picture">
                    <p class="card-text">Role: <%= data.role %></p>
                    <p class="card-text"><%=data.bio %></p>
                </div>
                <div class="card-footer">
                    <a href="/about" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>