<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <style>
        .card-body img {
            width: 150px; /* Adjust as needed */
            height: 150px; /* Adjust as needed */
            object-fit: cover; /* This will ensure that the image covers the entire area of the img element without distorting the aspect ratio */
        }
    </style>
</head>
    <body class="d-flex flex-column vh-100">
    <%- include('./partials/nav') %>
    <div class="container text-center">
        <h1 class="my-4">Team Member Information</h1>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><%= data.name %></h5>
            </div>
            <div class="card-body">
                <img src="/img/<%= data.id %><%= data.type %>" class="img-fluid rounded-circle" style="max-width: 500px;" alt="Profile Picture">
                <p class="card-text">Role: <%= data.role %></p>
                <p class="card-text">Bio: <%= data.bio %></p>
            </div>
            <div class="card-footer">
                <a href="/about" class="btn btn-primary">Back to Team</a>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>