<!--
  Search Results Page - Gator Garage Web Application

  This HTML document, powered by EJS templates, handles the display of search results and interactive messaging within the Gator Garage marketplace. It includes dynamic content display for listed items, integrated navigation, and modals for direct user interactions.

  Features:
  - Display of search results based on user queries or selected categories.
  - Interactive modals for messaging sellers.
  - Partial templates for consistent page layout, including navigation and footer.

  Core components include navigation bar, search results display, item detail modals, and footer, all managed through embedded JavaScript and EJS templating for real-time content updates.
    Maintainers: Cesar H, Jacob G, Mohammed M, Akram A

-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <title>Search - Find Items on GatorGarage</title>
    </head>
    <body class="d-flex flex-column vh-100">
        <%- include('./partials/nav') %>

        <!-- TODO : PASS EJS INFO TO MODAL POP UP-->

        <div id="results-container" class="container p-4">
            <div class="fs-5" style="display: inline">
              <% if (items.length === 0) { %>
                <%= message %> in <%= currentCategory %>
              <% } else { %>
                <%= message %> in <%= currentCategory %>
                (<%= startIndex %> to <%= endIndex %>) from <%= totalResults %> items found
              <% } %>
          </div>

            <!-- Sorting dropdown -->
            <div class="fs-5" style="display: inline; float: right"  > <!-- Container to align form to the right -->
                <form action="/search" method="get" style="display: inline-block;"> <!-- Inline block to keep form in line -->
                    <input type="hidden" name="query" value="<%= searchQuery %>" />
                    <input type="hidden" name="category" value="<%= currentCategory %>" />
                    <label for="sort">Sort by:</label>
                    <select class="fs-6" name="sort" id="sort" onchange="this.form.submit()">
                        <option value="default" <% if (currentSort === 'default') { %>selected<% } %>>Default</option>
                        <option value="price_asc" <% if (currentSort === 'price_asc') { %>selected<% } %>>Price: Low to High</option>
                        <option value="price_desc" <% if (currentSort === 'price_desc') { %>selected<% } %>>Price: High to Low</option>
                        <option value="alpha_asc" <% if (currentSort === 'alpha_asc') { %>selected<% } %>>Alphabetical: A to Z</option>
                        <option value="alpha_desc" <% if (currentSort === 'alpha_desc') { %>selected<% } %>>Alphabetical: Z to A</option>
                    </select>
                </form>
            </div>


            <main class="container mt-5">
                <div class="row row-cols-1 row-cols-md-3 g-2">
                    <% items.forEach(item => { %>
                        <%- include('./partials/itemCardDisplay', { item: item }) %>
                    <% }); %>
                </div>


                <!-- Pagination Controls -->
                <% if (totalResults > limit) { %>
                    <nav aria-label="Search results pages">
                        <ul class="pagination justify-content-center pt-2">
                            <% if (page > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="/search?query=<%= searchQuery %>&category=<%= currentCategory %>&sort=<%= currentSort %>&page=<%= page - 1 %>&limit=<%= limit %>">Previous</a>
                                </li>
                            <% } %>
                            <% for (let i = 1; i <= Math.ceil(totalResults / limit); i++) { %>
                                <li class="page-item <%= i === page ? 'active' : '' %>">
                                    <a class="page-link" href="/search?query=<%= searchQuery %>&category=<%= currentCategory %>&sort=<%= currentSort %>&page=<%= i %>&limit=<%= limit %>"><%= i %></a>
                                </li>
                            <% } %>
                            <% if (page * limit < totalResults) { %>
                                <li class="page-item">
                                    <a class="page-link" href="/search?query=<%= searchQuery %>&category=<%= currentCategory %>&sort=<%= currentSort %>&page=<%= page + 1 %>&limit=<%= limit %>">Next</a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                <% } %>
            </main>

        <%- include('./partials/footer') %>
        <%- include('./partials/message') %> <!-- Message Modal -->

        <script src="../js/setupMessageModal.js"></script>
        </div>
    </body>
</html>
